/* ~/.config/wallust/swaync.css.j2 */

@define-color cc-bg rgba({{background | rgb}}, 0.9);
@define-color noti-bg rgba({{color0 | rgb}}, 0.9);

@define-color noti-border-color {{color8}};
@define-color noti-bg-darker rgba({{background | rgb}}, 0.9);
@define-color noti-bg-hover rgba({{color8 | rgb}}, 0.8);
@define-color text-color {{foreground}};
@define-color text-color-disabled {{color7}};
@define-color bg-selected {{color1}};
@define-color border-green {{color2}};
@define-color red-base {{color1}};
@define-color red-hover {{color9}};
@define-color green-base {{color2}};
@define-color blue-base {{color4}};
