@define-color background {{background}};
@define-color foreground {{foreground}};
@define-color main_pill {{background}};
@define-color hover_pill {{color8}};
@define-color accent {{color1}};
@define-color text_dark {{color0}};
@define-color critical {{color1}};
